.bg1{
    background-color: #131c27;
}

.bg2{
    background-color: #22344d;
}

.bg3{
    background-color: #3a4f6c;
}

.bg4{
    background-color: #627080;
}

.bg5{
    background-color: #98a6b5;
}

.bg6{
    background-color: #19222f;
}

.hper{
    height: 90vh;
}